In [2]:
import pandas as pd
import codecs as cd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline

## Loading Delek data

In [3]:
path = 'C:/Users/yehoshua/Documents/Master of Engineering - Business Analytics/Thesis - DriveWize/Data samples/data samples 20160131/fuel_01_31_12_15.csv'
reader = cd.open(path, 'r', encoding = 'utf-16')
newD1 = []
for line in reader:
    x = line.split('\t')
    newD1.append(x)
reader.close()

In [4]:
D2 = pd.DataFrame(data = newD1[1:], columns=['trip_id', 'car_id','car_group','driver_name','driver_group', 'employee_num', 'start_time'
                                             , 'start_loc','end_time','end_loc', 'distance','duration','fuel_cons','km_per_liter'
                                             ,'liter_per_100km','total_distance','NaN'])
D2["new_start_time"] = pd.to_datetime(D2.start_time, format = "%d/%m/%Y %H:%M:%S")
D2["new_end_time"] = pd.to_datetime(D2.end_time, format = "%d/%m/%Y %H:%M:%S")
D2['start_time'],D2['start_date']= D2['new_start_time'].apply(lambda x:x.time()), D2['new_start_time'].apply(lambda x:x.date())
D2['end_time'],D2['end_date']= D2['new_end_time'].apply(lambda x:x.time()), D2['new_end_time'].apply(lambda x:x.date())
DelekData = D2.drop(['NaN', 'new_start_time','new_end_time'], axis=1)
DelekData['duration'] = pd.to_timedelta(DelekData.duration)
DelekData['fuel_cons'].replace('', np.nan, inplace=True)
DelekData.dropna(subset=['fuel_cons'], inplace=True)
DelekData['fuel_cons'] = DelekData['fuel_cons'].convert_objects(convert_numeric=True)

In [5]:
MinimizedDelekData = pd.DataFrame(data = DelekData, columns =['car_id', 'start_date', 'duration','fuel_cons'])

In [6]:
groupedDelek = MinimizedDelekData.groupby(['car_id','start_date'], as_index=False)

def get_hours(td):
    ans = float(td.seconds)/3600
    if ans == 0:
        return -0.000001
    return ans 

def avg_fuel(group):
    f = group['fuel_cons']
    d = group['duration']
    ans = f.sum() / get_hours(d.sum()) , get_hours(d.sum())
    return ans

groupedDelek = groupedDelek.apply(avg_fuel)
g1 = groupedDelek.reset_index()

g1['avg_fuel'] , g1['total_duration_hr'] = g1.iloc[:,2].apply(lambda x:x[0]), g1.iloc[:,2].apply(lambda x:x[1])
g1 = g1.drop(g1.columns[2], axis=1)

In [7]:
g1.sort(['avg_fuel'])

        car_id start_date   avg_fuel  total_duration_hr
982  90-295-30 2015-12-22   0.302521           1.983333
942  90-293-30 2015-12-15   0.305284           8.516667
932  90-293-30 2015-12-02   0.817635           8.316667
893  90-291-30 2015-12-17   1.430233           5.733333
817  72-696-52 2015-12-27   1.490683           2.683333
973  90-295-30 2015-12-09   1.565217           1.150000
818  72-696-52 2015-12-28   1.764706           0.566667
986  90-295-30 2015-12-26   2.057143           0.583333
821  72-696-52 2015-12-31   2.185185           2.700000
592  63-829-70 2015-12-14   2.198020           1.683333
815  72-696-52 2015-12-24   2.454545           2.200000
933  90-293-30 2015-12-03   2.470588           3.966667
913  90-292-30 2015-12-10   2.472727           2.750000
814  72-696-52 2015-12-23   2.553191           2.350000
816  72-696-52 2015-12-25   2.571429           0.466667
895  90-291-30 2015-12-20   2.571429           0.233333
802  72-696-52 2015-12-10   2.666667           0.600000
912  90-292-30 2015-12-09   2.852459           1.016667
966  90-294-30 2015-12-28   2.914286           0.583333
819  72-696-52 2015-12-29   2.915888           1.783333
803  72-696-52 2015-12-11   3.000000           0.933333
900  90-291-30 2015-12-26   3.000000           0.200000
2    63-380-70 2015-12-03   3.045283           0.883333
677  63-841-70 2015-12-21   3.223301           5.150000
3    63-380-70 2015-12-04   3.230769           1.300000
911  90-292-30 2015-12-08   3.500000           0.600000
54   63-622-70 2015-12-04   3.600000           0.333333
176  63-729-70 2015-12-30   3.602521           3.966667
190  63-732-70 2015-12-16   3.680769           0.866667
820  72-696-52 2015-12-30   3.705263           4.750000
..         ...        ...        ...                ...
579  63-823-31 2015-12-30  13.813333          15.000000
279  63-738-70 2015-12-23  14.166667           0.600000
575  63-823-31 2015-12-25  14.274286           8.750000
577  63-823-31 2015-12-28  14.746224          11.033333
565  63-823-31 2015-12-14  15.028037           8.916667
580  63-823-31 2015-12-31  15.045872          10.900000
914  90-292-30 2015-12-11  15.096774           0.516667
559  63-823-31 2015-12-07  15.160976           6.833333
573  63-823-31 2015-12-23  15.161179           9.616667
557  63-823-31 2015-12-04  15.400329          10.116667
568  63-823-31 2015-12-17  15.453488          11.466667
556  63-823-31 2015-12-03  15.556942          10.683333
564  63-823-31 2015-12-13  15.732283          12.700000
572  63-823-31 2015-12-22  15.954887          13.300000
561  63-823-31 2015-12-09  16.116477          11.733333
576  63-823-31 2015-12-27  16.162238          11.916667
470  63-806-70 2015-12-27  16.250000           0.400000
578  63-823-31 2015-12-29  16.537313          10.050000
558  63-823-31 2015-12-06  16.559085          13.116667
570  63-823-31 2015-12-20  16.623688          11.116667
563  63-823-31 2015-12-11  16.684615          13.000000
562  63-823-31 2015-12-10  17.679749          10.616667
569  63-823-31 2015-12-18  17.827011          10.983333
157  63-729-70 2015-12-04  18.000000           0.016667
566  63-823-31 2015-12-15  18.362319           6.900000
560  63-823-31 2015-12-08  18.552995           7.233333
567  63-823-31 2015-12-16  18.848329          12.966667
574  63-823-31 2015-12-24  19.264463          12.100000
571  63-823-31 2015-12-21  19.763158          11.400000
278  63-738-70 2015-12-21  36.392871           8.883333

[992 rows x 4 columns]

## Loading ISR data

In [8]:
pathISR = 'C:/Users/yehoshua/Documents/Master of Engineering - Business Analytics/Thesis - DriveWize/Data samples/data samples 20160131/aggressive_01_12_12_15.csv'
pathISR2 = 'C:/Users/yehoshua/Documents/Master of Engineering - Business Analytics/Thesis - DriveWize/Data samples/data samples 20160131/aggressive_13_25_12_15.csv'
pathISR3 = 'C:/Users/yehoshua/Documents/Master of Engineering - Business Analytics/Thesis - DriveWize/Data samples/data samples 20160131/aggressive_26_31_12_15.csv'

reader = cd.open(pathISR, 'r', encoding = 'utf-16')
reader2 = cd.open(pathISR2, 'r', encoding = 'utf-16')
reader3 = cd.open(pathISR3, 'r', encoding = 'utf-16')

reader.next() #skip the header
reader2.next()
reader3.next()

newD1 = []
for line in reader:
    x = line.split('\t')
    newD1.append(x)
for line in reader2:
    x = line.split('\t')
    newD1.append(x)
for line in reader3:
    x = line.split('\t')
    newD1.append(x)

reader.close()
reader2.close()
reader3.close()

In [9]:
D3 = pd.DataFrame(data = newD1[1:], columns = ['driver_name','driver_group','car_id', 'car_group','event_time','location','event_type','event_category','event_end_time','end_location','distance','velocity','max_speed','duration','comment','NaN'])
D3["new_event_time"] = pd.to_datetime(D3.event_time, format = "%d/%m/%Y %H:%M:%S")
D3['event_time'],D3['event_date']= D3['new_event_time'].apply(lambda x:x.time()), D3['new_event_time'].apply(lambda x:x.date())
ISRData = D3.drop(['NaN', 'new_event_time'], axis=1)

In [10]:
ISRData

,driver_name,driver_group,car_id,car_group,event_time,location,event_type,event_category,event_end_time,end_location,distance,velocity,max_speed,duration,comment,event_date
0,NA,,63-380-70,מטרופולין השרון,22:38:03,התדהר אזור תעשיהרעננה,בטיחותי,פניה בינונית ימינה,,,,24,50,,,2015-12-02
1,NA,,63-380-70,מטרופולין השרון,22:38:52,התדהר אזור תעשיהרעננה,בטיחותי,בלימה חזקה,,,,1,50,,,2015-12-02
2,NA,,63-380-70,מטרופולין השרון,22:40:12,התדהר רעננה,בטיחותי,פניה בינונית שמאלה,,,,32,50,,,2015-12-02
3,NA,,63-380-70,מטרופולין השרון,22:41:04,כביש 4 כפר סבא,בטיחותי,פניה בינונית שמאלה,,,,31,90,,,2015-12-02
4,NA,,63-380-70,מטרופולין השרון,23:20:26,חלמיש פארק העסקים והתעשיה קיסריה,בטיחותי,פניה בינונית שמאלה,,,,28,50,,,2015-12-02
5,NA,,63-380-70,מטרופולין השרון,12:35:15,גרניט 2פארק העסקים והתעשיה קיסריה,בטיחותי,פניה בינונית שמאלה,,,,25,50,,,2015-12-06
6,NA,,63-380-70,מטרופולין השרון,12:56:35,הכורם פארק העסקים והתעשיה קיסריה,בטיחותי,פניה בינונית שמאלה,,,,28,50,,,2015-12-06
7,NA,,63-380-70,מטרופולין השרון,12:56:49,הכורם פארק העסקים והתעשיה קיסריה,בטיחותי,פניה בינונית שמאלה,,,,25,50,,,2015-12-06
8,NA,,63-380-70,מטרופולין השרון,12:57:31,גרניט פארק העסקים והתעשיה קיסריה,בטיחותי,פניה בינונית שמאלה,,,,33,50,,,2015-12-06
9,NA,,63-380-70,מטרופולין השרון,12:58:30,תרשיש 8פארק העסקים והתעשיה קיסריה,בטיחותי,פניה בינונית שמאלה,,,,26,50,,,2015-12-06
10,NA,,63-380-70,מטרופולין השרון,12:58:58,שוהם 8פארק העסקים והתעשיה קיסריה,בטיחותי,פניה בינונית שמאלה,,,,25,50,,,2015-12-06
11,NA,,63-380-70,מטרופולין השרון,17:48:02,טשרניחובסקי שיכון ותיקיםכפר סבא,בטיחותי,פניה בינונית שמאלה,,,,30,60,,,2015-12-06
12,NA,,63-380-70,מטרופולין השרון,17:52:53,דרך השרון כפר סבא,בטיחותי,פניה בינונית שמאלה,,,,27,50,,,2015-12-06
13,NA,,63-380-70,מטרופולין השרון,18:07:30,ירושלים רעננה,בטיחותי,פניה בינונית שמאלה,,,,36,50,,,2015-12-06
14,NA,,63-380-70,מטרופולין השרון,18:38:00,המנהרה הרצליה ב'הרצליה,בטיחותי,פניה בינונית שמאלה,,,,26,50,,,2015-12-06
15,NA,,63-380-70,מטרופולין השרון,19:15:09,כיכר דה שליט הרצליה פיתוחהרצליה,בטיחותי,פניה בינונית שמאלה,,,,32,50,,,2015-12-06
16,NA,,63-380-70,מטרופולין השרון,19:15:15,רמת ים 2הרצליה פיתוחהרצליה,בטיחותי,פניה בינונית ימינה,,,,36,50,,,2015-12-06
17,NA,,63-380-70,מטרופולין השרון,19:15:21,רמת ים 1הרצליה פיתוחהרצליה,בטיחותי,פניה בינונית שמאלה,,,,45,50,,,2015-12-06
18,NA,,63-380-70,מטרופולין השרון,19:18:06,זבולון 8הרצליה פיתוחהרצליה,בטיחותי,פניה בינונית שמאלה,,,,28,50,,,2015-12-06
19,NA,,63-380-70,מטרופולין השרון,19:18:37,וינגייט 201הרצליה פיתוחהרצליה,בטיחותי,פניה בינונית שמאלה,,,,26,50,,,2015-12-06
20,NA,,63-380-70,מטרופולין השרון,19:19:55,נעמי שמר הרצליה,בטיחותי,פניה בינונית ימינה,,,,31,50,,,2015-12-06
21,NA,,63-380-70,מטרופולין השרון,19:22:43,וינגייט הרצליה פיתוחהרצליה,בטיחותי,בלימה בינונית,,,,4,50,,,2015-12-06
22,NA,,63-380-70,מטרופולין השרון,19:28:58,השונית הרצליה,בטיחותי,פניה בינונית שמאלה,,,,24,50,,,2015-12-06
23,NA,,63-380-70,מטרופולין השרון,19:42:26,כביש 40 הוד השרון,בטיחותי,פניה בינונית ימינה,,,,38,90,,,2015-12-06
24,NA,,63-380-70,מטרופולין השרון,19:49:15,כביש 55 אזור תעשייה עתיר ידעכפר סבא,בטיחותי,פניה בינונית שמאלה,,,,30,90,,,2015-12-06
25,NA,,63-380-70,מטרופולין השרון,21:28:37,ירושלים אחוזה דרוםרעננה,בטיחותי,פניה בינונית שמאלה,,,,32,50,,,2015-12-06
26,NA,,63-380-70,מטרופולין השרון,21:48:17,המנהרה הרצליה ב'הרצליה,בטיחותי,פניה בינונית שמאלה,,,,24,50,,,2015-12-06
27,NA,,63-380-70,מטרופולין השרון,21:52:52,המעפילים 13כפר שמריהו,בטיחותי,פניה בינונית שמאלה,,,,28,50,,,2015-12-06
28,NA,,63-380-70,מטרופולין השרון,21:59:18,כיכר דה שליט הרצליה פיתוחהרצליה,בטיחותי,פניה בינונית שמאלה,,,,32,50,,,2015-12-06
29,NA,,63-380-70,מטרופולין השרון,22:02:58,מדינת היהודים 18הרצליה פיתוחהרצליה,בטיחותי,פניה בינונית ימינה,,,,27,50,,,2015-12-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44284,NA,,90-295-30,מטרופולין השרון,15:38:36,רמת ים 37הרצליה פיתוחהרצליה,בטיחותי,בלימה בינונית,,,,11,50,,,2015-12-31
44285,NA,,90-295-30,מטרופולין השרון,15:49:23,קרן היסוד הרצליה,בטיחותי,פניה בינונית שמאלה,,,,33,50,,,2015-12-31
44286,NA,,90-295-30,מטרופולין השרון,16:37:27,דרך ירושלים נווה עמלהרצליה,בטיחותי,פניה בינונית שמאלה,,,,28,50,,,2015-12-31
44287,NA,,90-295-30,מטרופולין השרון,17:57:07,הנביאים 9קפלןכפר סבא,בטיחותי,פניה בינונית שמאלה,,,,25,50,,,2015-12-31
44288,NA,,90-295-30,מטרופולין השרון,17:57:12,הנביאים 11קפלןכפר סבא,בטיחותי,פניה בינונית ימינה,,,,29,50,,,2015-12-31
44289,NA,,90-295-30,מטרופולין השרון,18:20:39,דרך הפועל 27כפר סבא,בטיחותי,פניה בינונית ימינה,,,,15,50,,,2015-12-31
44290,NA,,90-295-30,מטרופולין השרון,18:24:02,כביש 55 אזור תעשייה עתיר ידעכפר סבא,בטיחותי,פניה בינונית שמאלה,,,,30,70,,,2015-12-31
44291,NA,,90-295-30,מטרופולין השרון,18:37:03,כביש 40 הוד השרון,בטיחותי,פניה בינונית שמאלה,,,,27,90,,,2015-12-31
44292,NA,,90-295-30,מטרופולין השרון,18:38:06,כביש 5 פתח תקווה,בטיחותי,פניה בינונית ימינה,,,,37,90,,,2015-12-31
44293,NA,,90-295-30,מטרופולין השרון,18:47:45,שדרות שבעת הכוכבים הרצליה,בטיחותי,פניה בינונית ימינה,,,,46,40,,,2015-12-31
44294,NA,,90-295-30,מטרופולין השרון,19:51:06,מדינת היהודים הרצליה,בטיחותי,פניה בינונית שמאלה,,,,23,50,,,2015-12-31
44295,NA,,90-295-30,מטרופולין השרון,19:58:02,וינגייט 25הרצליה פיתוחהרצליה,בטיחותי,פניה בינונית שמאלה,,,,31,50,,,2015-12-31
44296,NA,,90-295-30,מטרופולין השרון,20:02:34,קרן היסוד הרצליה,בטיחותי,פניה בינונית שמאלה,,,,28,50,,,2015-12-31
44297,NA,,90-295-30,מטרופולין השרון,20:08:22,דרך משה דיין הרצליה ב'הרצליה,בטיחותי,פניה בינונית שמאלה,,,,26,50,,,2015-12-31
44298,NA,,90-295-30,מטרופולין השרון,20:08:57,שדרות שבעת הכוכבים הרצליה,בטיחותי,פניה חזקה שמאלה,,,,30,70,,,2015-12-31
44299,NA,,90-295-30,מטרופולין השרון,20:14:27,שדרות שבעת הכוכבים הרצליה,בטיחותי,פניה בינונית שמאלה,,,,29,60,,,2015-12-31
44300,NA,,90-295-30,מטרופולין השרון,20:23:33,העצמאות 47מרכזהרצליה,בטיחותי,פניה בינונית ימינה,,,,13,50,,,2015-12-31
44301,NA,,90-295-30,מטרופולין השרון,20:23:40,העצמאות 47מרכזהרצליה,בטיחותי,פניה בינונית שמאלה,,,,28,50,,,2015-12-31
44302,NA,,90-295-30,מטרופולין השרון,20:26:57,העצמאות 85מרכזהרצליה,בטיחותי,פניה בינונית שמאלה,,,,21,50,,,2015-12-31
44303,NA,,90-295-30,מטרופולין השרון,20:46:48,טשרניחובסקי פרחיםכפר סבא,בטיחותי,פניה בינונית שמאלה,,,,26,50,,,2015-12-31
44304,NA,,90-295-30,מטרופולין השרון,21:03:35,הנביאים 9קפלןכפר סבא,בטיחותי,פניה חזקה שמאלה,,,,24,50,,,2015-12-31
44305,NA,,90-295-30,מטרופולין השרון,21:08:07,הסדנא אזור תעשיה מזרחכפר סבא,בטיחותי,פניה בינונית שמאלה,,,,16,50,,,2015-12-31
44306,NA,,90-295-30,מטרופולין השרון,21:15:53,התוכנה 3אזור תעשיה מזרחכפר סבא,בטיחותי,פניה בינונית ימינה,,,,19,50,,,2015-12-31
44307,NA,,90-295-30,מטרופולין השרון,21:49:43,דרך הפועל אזור תעשיה מזרחכפר סבא,בטיחותי,פניה חזקה שמאלה,,,,23,50,,,2015-12-31
44308,NA,,90-295-30,מטרופולין השרון,22:38:37,שדרות שבעת הכוכבים הרצליה,בטיחותי,פניה בינונית ימינה,,,,29,60,,,2015-12-31
44309,NA,,90-295-30,מטרופולין השרון,22:50:18,שדרות אבא אבן הרצליה פיתוחהרצליה,בטיחותי,פניה בינונית שמאלה,,,,47,50,,,2015-12-31
44310,NA,,90-295-30,מטרופולין השרון,23:04:37,מדינת היהודים הרצליה,בטיחותי,פניה בינונית שמאלה,,,,26,50,,,2015-12-31
44311,NA,,90-295-30,מטרופולין השרון,23:18:41,נורדאו 94הרצליה ב'הרצליה,בטיחותי,פניה בינונית ימינה,,,,22,50,,,2015-12-31
44312,NA,,90-295-30,מטרופולין השרון,23:21:40,המנהרה הרצליה ב'הרצליה,בטיחותי,פניה בינונית שמאלה,,,,24,50,,,2015-12-31
44313,NA,,90-295-30,מטרופולין השרון,23:59:02,דרך אלי הורביץ אזור תעשיה מזרחכפר סבא,בטיחותי,פניה בינונית ימינה,,,,27,50,,,2015-12-31

In [11]:
MinimizedISRData = pd.DataFrame(data = ISRData, columns =['car_id', 'event_date', 'event_category'])

def get_event_weight(row):
    #print row
    if 'מאוד' in row['event_category'].encode('utf8'):
        return 1
    elif 'בינוני' in row['event_category'].encode('utf8'):
        return 1
    return 1

MinimizedISRData['weight'] = MinimizedISRData.apply(get_event_weight, axis=1)

groupedISR = MinimizedISRData.groupby(['car_id' , 'event_date'], as_index=False)

def get_event_count(group):
    a = group['weight']
    return a.sum()

groupedISR = groupedISR.apply(get_event_count)
#groupedISR = groupedISR.apply(get_event_weight)

g2 = groupedISR.reset_index()

new_columns = g2.columns.values
#new_columns[2] = 'Category'
new_columns[2] = 'Total_events'
g2.columns = new_columns

## Join the two tables

In [13]:
joined = pd.merge(g1[(g1.start_date < '2015-12-13')], g2, left_on =['car_id', 'start_date'], right_on= ['car_id','event_date'], how = 'left')
joined['Total_events'] = joined['Total_events'].replace(to_replace='NaN', value = 0)
def avg_events(x):    
    return x['Total_events']/ x['total_duration_hr']

joined['avg_events']= joined.apply(avg_events, axis=1)

In [27]:
joined.iloc[:,2:].head()

   avg_fuel  total_duration_hr event_date  Total_events  avg_events
1  8.030769           1.083333 2015-12-02             5    4.615385
4  8.350962           6.933333 2015-12-06            29    4.182692
6  8.045455          13.200000 2015-12-08           110    8.333333
7  8.052632           9.500000 2015-12-09            40    4.210526
9  8.635606          13.200000 2015-12-01            90    6.818182

#### Spliting Train- Test datasets

In [15]:
joined = joined[(joined['avg_fuel'] < 11)]
joined = joined[(joined['avg_fuel'] > 5)]
joined = joined[(joined['total_duration_hr'] > 1)]

from sklearn import cross_validation
X_train, X_test, y_train, y_test = cross_validation.train_test_split(joined.drop('avg_fuel', axis=1), joined['avg_fuel'], test_size=0.2, random_state=0)

## Regression model

In [16]:
results = sm.OLS(y_train,X_train['avg_events']).fit()

print results.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:               avg_fuel   R-squared:                       0.782
Model:                            OLS   Adj. R-squared:                  0.781
Method:                 Least Squares   F-statistic:                     873.4
Date:                Sat, 20 Feb 2016   Prob (F-statistic):           2.01e-82
Time:                        21:35:10   Log-Likelihood:                -678.51
No. Observations:                 244   AIC:                             1359.
Df Residuals:                     243   BIC:                             1363.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
avg_events     1.2281      0.042     29.553      0.000         1.146     1.310
==============================================================================
Omnibus:                       50.263   Durbin-Watson:                   1.497
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               79.378
Skew:                          -1.170   Prob(JB):                     5.80e-18
Kurtosis:                       4.527   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### MSE on train data

In [17]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_train, results.predict(X_train['avg_events']))

15.236118156969304

#### MSE on test data

In [18]:
print mean_squared_error(y_test, results.predict(X_test['avg_events']))

17.9894420223